*{
    margin: 0px;
}
.flex{
    display: flex;
}
.vh-1{
        background-color: rgb(0, 0, 62);
}
.menu{
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.menu-1{
    gap: 20px;
}
.text-left{
    margin: 0px 50px;
}
.vh-1foto{
    background-image: url(./9d27a7db9baec836c3fdc88936be5500c52d540a.png);
    
    height: 300px;
    background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  color: rgb(255, 255, 255);
  background-position: center;
  width: 80%;
  margin: 50px auto;
}
.text-right{
    width: 200px;
}
.text-left h1{
  font-size: 40px;

}
.left-1{
    gap: 20px;
}
.aa{
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.xx{
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.tap{
    width: 250px;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 20px 0px;

}
.text-blue{
    text-align: center;
    font-size: 70px;
    width: 600px;
    margin: auto;
    color: white;
}
.textt-1{
    width: 300px;
    color: white;
}
.textt-1 h1{
    margin: 10px 0px;
}
.alltext{
    justify-content: space-around;
    margin: 50px 0px;
    padding: 20px;
}