*{
    margin: 0px;
}
.flex{
    display: flex;
}
.vh-1{
        background-color: rgb(0, 0, 62);
}
.menu{
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.menu-1{
    gap: 20px;
}
.text-left{
    margin: 0px 50px;
}
.vh-1foto{
    background-image: url(./9d27a7db9baec836c3fdc88936be5500c52d540a.png);
    
    height: 300px;
    background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  color: rgb(255, 255, 255);
  background-position: center;
  width: 100%;
  margin: 50px auto;
}
.text-right{
    width: 200px;
}
.text-left h1{
  font-size: 40px;

}
.left-1{
    gap: 20px;
}
.aa{
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.xx{
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.tap{
    width: 250px;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 20px 0px;

}
.text-blue{
    text-align: center;
    font-size: 70px;
    width: 600px;
    margin: auto;
    color: white;
}
.textt-1{
    width: 300px;
    color: white;
}
.textt-1 h1{
    margin: 10px 0px;
}
.alltext{
    justify-content: space-around;
    margin: 50px 0px;
    padding: 20px;
}
.vh-2{
    align-items: center;
    background-color: #476178;
    color: white;
}
.vh-2-text{
    width: 500px;
    margin: 0px 50px;
}
.vh-2-text p{
 margin: 30px 0px;
}
.tap-1{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
}
.icon {
    display: none;
}
.vh-3-foto{
    background-image: url(./pexels-anna-shvets-3987142\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width : 350px;
    height: 350px;
    padding: 10px;
   

}
.foto-1{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(1\).png);
}
.foto-2{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(2\).png);
}
.foto-3{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(3\).png);
}
.foto-4{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(4\).png);
}
.foto-5{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(5\).png);
}
.foto-6{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(6\).png);
}
.foto-7{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(7\).png);
}
.vh-3{
     flex-wrap: wrap;
     justify-content: space-around;
    }
.vh-3-foto h1{
    width: 200px;
    border: 1px solid white;
    
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.bb{
    font-size: 70px;
    margin: 20px 30px;
}
.vh-4{
    display: grid;
    grid-template-columns:600px 250px 600px;
    grid-template-rows: 300px 300px;
    margin: 50px;
}
.box-1{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    background-color: #476178;
    color: white;

}
.box-1 h1{
    font-size: 60px;
    margin-top: 50px;
}
.box-1 p{
    width: 300px;
    margin: 30px auto;
}
.box-2{
    background-image: url(./3acb860ebfdf0396c24a38dc8a4ca2f41e2b08f5.png);
    
    background-size: 100%;
    color: white;
    padding: 20px;
   background-repeat: no-repeat;
   
}
.boox-2{
    gap: 20px;
}
.bx-1
{
    width: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.bx-2
{
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.box-3{
    background-image: url(./Rectangle\ 53.png);
    padding: 10px;
}
.box-3 h1{
    width: 300px;
    color: white;
}
.bx-3{
    width: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.bx-4{
    width: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.bx-5{
    width: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.bx-6{
    width: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.boox-3{
    gap: 20px;
    margin: 10px 0px;
    
}
.box-4{
    background-image: url(./Rectangle\ 54.png);
    grid-column: 2 /4;
    color: white;
    padding: 10px;
}
.boox-4{
    grid-column: 2 /4;
    gap: 20px;
    margin: 20px 0px;
}
.bx-7{
    width: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.bx-8{
    width: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
.bx-9{
    width: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px
}
@media(max-width:511px){
    .none{
        display: none;
    }
    .icon{
        display: block;
        font-size: 50px;
    }
    .alltext{
        flex-direction: column;
        gap: 30px;
        margin: 0px 50px;
    }
    .vh-2{
        flex-direction: column;

    }
    .vh-2 img{
        width: 100%;
    }
    .vh-2-text{
        width: 90%;
    }
    .vh-3{
        overflow:auto;
        flex-wrap: nowrap;
        gap: 20px;
        margin: 0px 20px;
    }
    .vh-3-foto{
        min-width: 80%;
        
    }
    .vh-4{
        display: none;
    }
}